<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<ul>
  <li>
    <a href="/greetings/hello">Greeter</a>
  </li>
  <li>
    <a href="/pages/info">Info</a>
  </li>
  <li>
    <a href="/students">Students</a>
  </li>
  <li>
    <a href="/ideas">Ideas</a>
  </li>
</ul>
<div>
  <%= yield %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>